.form {
	margin: 10px 0;
	display: flex;
}

.textInput {
	overflow: auto;
	resize: vertical;
	width: 100%;
	padding: 0.375rem 0.75rem;
	margin: 0 10px;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textInput:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.buttonAdd {
	color: #fff;
	background-color: #007bff;
	border: 1px solid #007bff;
	max-height: 90px;
}

.buttonAdd:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.buttonAdd:focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.InputColor {
	display: block;
	max-width: 71px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type='color'] {
	width: 100px;
	height: 60px;
	max-width: 71px;
}
