.container-fluid {
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

.app-wrapper {
	display: flex;
	text-align: center;
	color: #353535;
	font-size: 16px;
	line-height: 1.6em;
	background-color: #f9f9f9;
}

.header {
	display: none;
	max-height: 80px;
	height: 100%;
	width: 100%;
	background-color: #2b2f3e;
	padding: 5px 10px;
}

.header h2 {
	font-size: 1rem;
	color: #fff;
	margin-bottom: 5px;
}

.aside {
	min-height: 100vh;
	max-width: 300px;
	width: 100%;
	background-color: #2b2f3e;
	padding: 10px;
}

.aside span {
	color: #5b5d63;
	font-weight: 500;
}

.aside h2 {
	font-size: 2rem;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
	.aside {
		display: none;
	}

	.header {
		display: block;
	}

	.container-fluid {
		padding: 0;
	}
}
